<header>
    <h1>Sign In</h1>
</header>

<%= form_tag session_path do %>
<fieldset>
    <ol>
        <li>
            <%= label_tag :email %>
            <%= email_field_tag :email, nil, size:40,  required: true %>
        </li>
        <li>
            <%= label_tag :password %>
            <%= password_field_tag :password, nil, size: 40, required: true %>
        </li>
    </ol>
    <p>
        <%= submit_tag 'Sign In' %>
    </p>
    <p>
        No account yet? <%= link_to 'Sign-up!', new_user_path %>
    </p>
</fieldset>
<% end %>
