<h1><%= pluralize(@movies.count, 'Movie') %></h1>

<ul>
    <% @movies.each do |movie| %>
        <li><%= movie.title %></li>
        <li><%= movie.rating %></li>
        <li><%= truncate(movie.description, length: 40, sparator: ' ') %></li>
        <li><%= movie.released_on %></li>
        <li><%= number_to_currency(movie.total_gross) %></li>
    <% end %>
</ul>
