<article id="movie" class="movie">
  <header>
    <%= image_for @movie %>
    <h1><%= @movie.title %></h1>
    <h2><%= @movie.released_on %></h2>
  </header>

  <p>
    <%= @movie.description %>
  </p>

  <p class="no-rule">
    <%= @movie.rating %> &bull; <%= @movie.duration %>
  </p>

  <h3>Cast</h3>
  <p>
      <%= @movie.cast %>
  </p>

  <h3>Director</h3>
  <p>
      <%= @movie.director %>
  </p>

  <h3>Total Gross</h3>
  <p>
    <%= format_total_gross(@movie) %>
  </p>

    <footer>
        <nav>
            <%= link_to 'Edit', edit_movie_path(@movie), class: 'button' %>
            <%= link_to 'Delete', movie_path(@movie), class: 'button', method: :delete, data: { confirm: 'Are you sure?' } %>
            <%= link_to pluralize(@movie.reviews.count, 'Review'), movie_reviews_path(@movie), class: 'button' %>
        </nav>
    </footer>
</article>


