<article id="user">
    <header>
        <%= profile_image_for(@user) %>
        <h1><%= @user.username %>(<%= @user.name %>)</h1>
        <h2><%= mail_to(@user.email) %></h2>
        <h3>Member Since</h3>
        <p>
            <%= @user.created_at.strftime('%B %Y') %>
        </p>
    </header>
    <footer>
        <nav>
            <%= link_to 'Edit Account', edit_user_path(@user), class: 'button' %>
            <%= link_to 'Delete Account', @user,
                method: :delete,
                data: { confirm: 'Are you sure you want to permanetly delete your account?' },
                class: 'button' %>
        </nav>
    </footer>
</article>
