<aside id="sidebar">
    <nav>
        <ul>
            <li class="all-movies"><%= link_to 'Released', movies_path, class: 'button' %></li>
            <li class="all-movies"><%= link_to 'Hits', filtered_movies_path(:hits), class: 'button' %></li>
            <li class="all-movies"><%= link_to 'Flops', filtered_movies_path(:flops), class: 'button' %></li>

            <% if current_user_admin? %>
            <li class="create-movie"><%= link_to 'Add New Movie', new_movie_path, class: 'button' %></li>
            <% end %>
        </ul>
    </nav>
    <%= content_for(:side) %>
</aside>
