<!DOCTYPE html>
<html>
<head>
  <title>Flix - a better IMDB</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body style="margin: 0; font-family: sans;">
    <%= render 'layouts/header' %>
    <%= render 'layouts/sidebar' %>

    <section style="padding: 0 1em;">
        <%= yield %>
    </section>

    <%= render 'layouts/footer' %>
</body>
</html>
